*{
    box-sizing:border-box;
}


body{

    margin:0;
    font-family:
    "Segoe UI",
    Arial,
    sans-serif;

    background:#fff8f5;

    color:#222;

}



section{

    max-width:1000px;
    margin:auto;
    padding:70px 20px;

}




/* FLOATING STICKERS */


.sticker{

    position:fixed;
    font-size:45px;
    animation:float 4s infinite ease-in-out;

}


.sticker1{

    top:80px;
    left:60px;

}


.sticker2{

    top:180px;
    right:80px;

}


.sticker3{

    bottom:150px;
    left:80px;

}


.sticker4{

    bottom:100px;
    right:100px;

}



@keyframes float{

    50%{

        transform:translateY(-20px);

    }

}




/* HERO */


.hero{

    text-align:center;

}


.character{

    font-size:100px;

}



.hero h1{

    font-size:60px;
    margin:20px 0;

}



.hero h2{

    font-size:35px;
    max-width:750px;
    margin:auto;

}



.hero span{

    color:#ec4899;

}



.hero p{

    font-size:18px;
    color:#666;

    max-width:650px;
    margin:25px auto;

}




.skills span{

    background:white;

    padding:10px 20px;

    border-radius:30px;

    margin:5px;

    display:inline-block;

    box-shadow:
    0 5px 15px #ddd;

}




/* ABOUT */


.about{

    text-align:center;

    background:#ffe4f1;

    border-radius:40px;

}



.about p{

    color:#555;
    font-size:18px;

}






/* PROJECT */


.projects h2,
.process h2{

    text-align:center;

    font-size:40px;

}



.project{

    display:flex;

    gap:30px;

    align-items:center;

    padding:35px;

    border-radius:35px;

    margin:30px 0;

    transition:.3s;

}



.project:hover{

    transform:translateY(-10px);

}



.emoji{

    font-size:70px;

}



.project h3{

    font-size:28px;

}



.project p{

    color:#555;

}



.project a{

    text-decoration:none;

    color:white;

    background:#222;

    padding:12px 25px;

    border-radius:30px;

    display:inline-block;

}



.pink{

    background:#ffd6e8;

}



.yellow{

    background:#fff0b5;

}



.purple{

    background:#e8ddff;

}



.blue{

    background:#d7efff;

}




/* PROCESS */


.steps{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}



.steps div{

    background:white;

    padding:25px;

    border-radius:25px;

    text-align:center;

    width:150px;

    font-size:20px;

    box-shadow:
    0 10px 25px #ddd;

}





footer{

    text-align:center;

    padding:40px;

    color:#777;

}





@media(max-width:700px){


.hero h1{

    font-size:40px;

}


.hero h2{

    font-size:25px;

}



.project{

    flex-direction:column;

    text-align:center;

}


}
